@import "meyer-reset.css";
@import "setup.css";

/* POSITIONING */

  .inner-column {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #47353a;
}


header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 30px;
  padding: 10px;
}

header .inner-column {
  display:flex;
  width: 100%;
  flex-direction: row;
  justify-content: start;
}

header img {
 display: inline-block;
  max-width: 100px;
  height: auto;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.info img {
  width: 200px;
  height: 300px;
}

header a {
  display: inline;
  text-decoration: none;
  font-family: baskerville;
  font-size: 2.6em;
}

.hero {
  display: flex;
  background-color: mistyrose;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero .inner-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.hero h1 {
  font-family: lato;
  display: flex;
  font-size:18px;
  font-weight: 700;
}

.hero .image {
  max-width: 800px;
}

.flower1 {
  display: none;
}

.flower2 {
  display: none;
}

.flower3 {
  display: none;
}

.info {
  background-color: #e9c0ac;
  background-size: cover;
}

.site-footer {
  background-color: #fee4e1;
  padding: 5px;
}

.site-footer a {
  display: inline-block;
  padding: 10px 10px;
  border: 3px solid #a63f5e;
  border-radius: 25px;


}

.site-footer a:hover {
  color:white;
  background-color: #a63f5e;
  transition: 1s;

}


/* Medium */
@media (min-width: 600px) {
  .hero .inner-column {
    flex-direction: row;
    align-items: center;
  }

  .hero picture,
  .hero h1 {
    flex-basis: 50%;
  }

  .hero h1 {
    font-size: 24px;
  }

}

/* Large */

@media (min-width: 800px) {
  .hero {
    overflow: hidden;
  }

  .hero .inner-column {
    align-items: flex-start;
    
    position: relative;
  }

  .hero .flower1 {
    display: block;
    width: 280px;
    position: absolute;
    right: -35px;
    bottom: -140px;
    opacity: 0.3;
  }

  .hero .flower2 {
    display: block;
    width: 280px;
    position: absolute;
    left: -400px;
    bottom: -40px;
  }

  .info {
    overflow: hidden;
  }

  .info .inner-column {
    align-items: flex-start;
   
    position: relative;
  }

  .flower3 {
    display: block;
    width: 280px;
    position: absolute;
    right: -300px;
    bottom: -100px;
    opacity: 0.8;
    overflow:hidden;
  }
}

/* card module */
.cards {
  box-sizing: border-box;
  font-family: sans-serif;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.cards h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.services {
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7dcd0;
  flex-wrap: wrap;
  flex: 1;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.content .painting {
  font-size: 60px;
  margin: 16px 0;
}

.content > * {
  flex: 1 1 80%;
}

.content:hover {
  color: white;
  background: #a63f5e;
  border: 3px solid black;
}

.content:hover a {
  border-color: black;
  background: white;
  color: black;
}

.content h2 {
  font-size: 30px;
  margin: 16px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.content p {
  font-size: 17px;
}

.content a {
  max-width: 100%;
  margin: 22px 0;
  background: #222;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 0;
  border-radius: 25px;
  transition: 0.3s ease;
}

.cards img {
  display: inline-block;
  max-width: 200px;
  height: auto;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.content a:hover {
  border-radius: 4px;
}

@media (min-width: 900px) {
  .info .service {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

@media (max-width: 900px) {
  .services {
    display: flex;
    flex-direction: column;

  }

}