@import "meyer-reset.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.inner-column {
  max-width: 1000px;
  margin: auto;
}

.two-columns {
  display: flex;
  column-count: 2;
  column-gap: 30px;
  max-width: 1000px;
}

body {
  max-width: 100%;
  display: flex;

  flex-direction: column;
  background-color: #fff;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  color: #47353a;
}

header {
  padding: 10px 10px;
  margin-right: 20px;
}

header a {
  display: flex;
  text-decoration: none;
  font-family: baskerville;
  font-size: 2.6em;
  padding-top: 10px;
  line-height: 1.3em;
}

header img {
  float: left;
  max-height: 100px;
  padding: 20px;
  padding-left: 20vw;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.hero {
  min-width: 400px;
  justify-content: center;
  background-color: mistyrose;
  background-size: cover;
  padding-top: 15vh;
  padding-bottom: 10vh;
}

section .flower1 {
  min-width: 200px;
  align-items:flex-end;
  justify-content:flex-start;
  border: 2px solid black;
  overflow: hidden;

}

.hero img {
  float: right;
  max-height: 30vh;

}

.hero h2 {
  padding-top: 20px;
  padding-bottom: 30px;
  float: left;
  font-weight: 700;
  font-size: 3vh;
  line-height: 1;
}

.hero p {
  display: inline-block;
}


.cards {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  max-width: 110rem;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

.cards h1 {
  font-size: 200%;
  margin: 0 0 30px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.services {
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9beac;
  flex-wrap: wrap;
  flex: 1;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  transition: all 0.8s ease;
}

.content .painting {
  font-size: 70px;
  margin: 16px 0;
}

.content > * {
  flex: 1 1 80%;
}

.content:hover {
  color: white;
  background:#a36856;
  border: 5px solid white;
}

.content:hover a {
  border-color: 2px solid black;
  background: white;
  color: black;
}

.content h2 {
  font-size: 30px;
  margin: 16px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.content p {
  font-size: 17px;
}

.content a {
  max-width: 100%;
  margin: 22px 0;
  background: #222;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 0;
  border-radius: 25px;
  transition: 0.3s ease;
}

.cards img {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}

.content a:hover {
  border-radius: 4px;
}

footer {
  background-color: #47353a;
  padding: 25px 30px;
  min-height: 15vh;
}

footer h3 {
  padding-left: 10px;
  float: left;
  font-size: 20px;
  color: #ccc9ca;
  font-weight: 700;
}

@media (max-width: 800px) {
  .hero h2 {
    margin-bottom: 5px;
  }

 section {
    flex-direction: column;
    flex-wrap:wrap;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  body {
    font-size: 14px;
  }

  header nav {
    line-height: 12px;
  }

   header img {
    padding-left: 0px;
  }


}

@media (max-width: 430px) {
  header h1,
  header nav {
    float: left;
  }

   header img {
    padding-left: 10px;
  }

  .two-columns {
  display: flex;
  flex-direction: column;
  column-count: 1;
  column-gap: 30px;
  max-width: 400px;
}

  

  footer {
    padding: 30px 20px;
  }
}


@media (min-width: 800px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 5px 0px rgba(51, 51, 51, 0.3);
  }

 
}


@media (max-width: 768px) {
  .services {
    display: flex;
    flex-direction: column;
  }
}
