@import "meyer-reset.css";
@import "setup.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.inner-column {
  max-width: 1400px;
  margin: auto;
  padding: 20px;
}


body {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fff;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  color: #47353a;
}

header {
  display:flex;
  flex-direction: row;
  align-items: center;

  }

header img {
  max-height: 10vh;
  padding: 20px;
  border-radius: 25px;
}

header a {
  text-decoration: none;
  font-family: baskerville;
  font-size: 2.6em;
  padding-top: 30px;
  line-height: 1.3em;
}



.hero {
  align-items: center;
  background-color: mistyrose;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 0px;

}

.hero img{
  float:left;
  max-height: 30vh;
  margin-right: 30px;
}


.hero h2 {
  max-width: 36ch;
  

  float: left;
  font-weight: 700;
  font-size: 3vh;
  line-height: 1;
}

.hero .flower1 {
  display: none;
}


footer {
  background-color: #47353a;
  padding: 25px 30px;
  min-height: 15vh;
}

footer h3 {
  padding-left: 10px;
  float: left;
  font-size: 20px;
  color: #ccc9ca;
  font-weight: 700;
}


/* medium break point.*/
@media (max-width: 600px) {
  .hero inner-column {
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    }  
  

  
 .cards {
    display: flex;
    flex-direction: column;
  }



  body {
    font-size: 14px;
  }

  header nav {
    line-height: 24px;
  }
}

/* small break point */
@media (max-width: 430px) {
  
   .hero inner-column {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  header h1,
  header nav {
    float: none;
  }

  header nav a {
    margin-left: 0;
    margin-right: 12px;
  }

  footer {
    padding: 30px 20px;
  }
}

/* large break point */
@media (min-width: 820px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
   
    box-shadow: 0 1px 5px 0px rgba(51, 51, 51, 0.3);
  }

  
}

/* about / card module */

.cards {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;

  max-width: 120rem;
  margin: 0 auto;
  text-align: center;
}

.cards h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.services {
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  flex-wrap: wrap;
  flex: 1;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.content .painting {
  font-size: 70px;
  margin: 16px 0;
}

.content > * {
  flex: 1 1 80%;
}

.content:hover {
  color: white;
  background: #a63f5e;
  border: 3px solid black;
  
}

.content:hover a {
  border-color: black;
  background: white;
  color: black;
}


.content h2 {
  font-size: 30px;
  margin: 16px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.content p {
  font-size: 17px;
}

.content a {
  max-width: 100%;
  margin: 22px 0;
  background: #222;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 0;
  border-radius: 25px;
  transition: 0.3s ease;
}

.cards img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.content a:hover {
  border-radius: 4px;
}

@media (max-width: 768px) {
  .services {
    display: flex;
    flex-direction: column;
  }

 